<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>Bikerally_dashboard</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_dashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_dashboardServletByTotalRaised</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_dashboardServletByTotalRaised</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_dashboardArtez</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_dashboardArtezServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_updateDatabase</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_updateDatabaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_checkin</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_checkinServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_cuesheet</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_cuesheetServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_registrationsByMonth</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_registrationsByMonth</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_jsdata</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_jsdataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_jsdata2</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_jsdata2Servlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Bikerally_recacheServlet</servlet-name>
		<servlet-class>ca.biggor.bikerally.dashboard.Bikerally_recacheServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Bikerally_dashboard</servlet-name>
		<url-pattern>/bikerally_dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bikerally_dashboardServletByTotalRaised</servlet-name>
		<url-pattern>/bikerally_dashboard_by_totalraised</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bikerally_dashboardArtez</servlet-name>
		<url-pattern>/bikerally_dashboardArtez</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bikerally_updateDatabase</servlet-name>
		<url-pattern>/bikerally_updateDatabase</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bikerally_checkin</servlet-name>
		<url-pattern>/bikerally_checkin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bikerally_cuesheet</servlet-name>
		<url-pattern>/bikerally_cuesheet</url-pattern>
	</servlet-mapping>
<!-- 	<servlet-mapping> -->
<!-- 		<servlet-name>Bikerally_registrationsByMonth</servlet-name> -->
<!-- 		<url-pattern>bikerally_registrationsbymonth</url-pattern> -->
<!-- 	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>Bikerally_jsdata</servlet-name>
		<url-pattern>/bikerally_jsdata</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bikerally_jsdata2</servlet-name>
		<url-pattern>/bikerally_jsdata2</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Bikerally_recacheServlet</servlet-name>
		<url-pattern>/bikerally_recache</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>dashboard.html</welcome-file>
	</welcome-file-list>

	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/error.html</location>
	</error-page>

	<servlet>
		<servlet-name>appstats</servlet-name>
		<servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>appstats</servlet-name>
		<url-pattern>/appstats/*</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>appstats</web-resource-name>
			<url-pattern>/appstats/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>

	<filter>
		<filter-name>appstats</filter-name>
		<filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>appstats</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
